
<%# add navigation links to this file %>
<li><%= link_to 'Dashboard', apis_path %></li>
<li><%= link_to 'Settings', settings_path %></li>
<li><%= link_to 'Logs', logs_path %></li>
<li><%= link_to 'Notifications', notifications_path %></li>